/* Global Variables */
:root {
  --section-gap: 8rem;
  --section-inner-gap: calc( var(--section-gap) * 0.75 );
  --section-inner-gap-small: calc( var(--section-gap) * 0.5 );
  --grid-gap: 3rem;
  --grid-container: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
  --grid-inner: repeat(12, 1fr);
  --content-width: 55rem;
  --gap-small: 2rem;
  --gap-medium: 3rem;
  --gap-large: 4rem;
  --font-serif: "PT serif", serif;
  --font-sans: "Readex Pro", sans-serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-small: calc( var(--font-base) * 0.75 );
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --color-gray-100: #262626;
  --color-gray-200: #333;
  --color-gray-300: #707070;
  --color-gray-400: #979797;
  --color-white: #fff;
  --color-accent: #00CEC6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-white);
  font-weight: 400;
}

p, a, li, span {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--color-gray-400);
}

a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 700;
}
a:hover {
  color: var(--color-white);
}

h1 {
  font-size: var(--font-size-6);
}

.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: var(--color-gray-100);
}

.content {
  background-color: var(--color-gray-200);
  overflow: auto;
}
.sidebar__back {
  font-size: var(--font-size-small);
}
.sidebar__inner {
  margin: 3rem 4rem 4rem;
}
.sidebar__button {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-1);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 0;
}

.product__title {
  font-size: var(--font-size-3);
}
.product__price {
  font-size: var(--font-size-4);
  font-weight: 700;
  color: var(--color-white);
}
.product__subtitle {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-gray-400);
  font-weight: 700;
}
.product__less {
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-gray-200);
  border-radius: 50px 0 0 50px;
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-gray-400);
  padding: 0.5rem 1rem;
  max-width: 100%;
  width: auto;
  max-width: 100%;
}
.product__more {
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-gray-200);
  border-radius: 0 50px 50px 0;
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-gray-400);
  padding: 0.5rem 1rem;
  max-width: 100%;
  width: auto;
  max-width: 100%;
}
.product__count {
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-gray-200);
  border-radius: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  max-width: 100%;
  width: auto;
  max-width: 100%;
}

.colors {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.colors__item {
  margin-right: 7px;
}
.colors__item:last-of-type {
  margin-right: 0;
}
.colors__item--current a {
  opacity: 1;
}
.colors__link {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0.4;
}
.colors__link--yellow {
  background-color: #eeb826;
}
.colors__link--green {
  background-color: #06a07d;
}
.colors__link--pink {
  background-color: #d80cb8;
}
.colors__link--red {
  background-color: #ff0000;
}

/*# sourceMappingURL=style.css.map */
