@mixin input(
    $background: var(--color-gray-200),
    $border-radius: 0,
    $color: var(--color-white),
    $width: auto,
    $text-align: left
    ) {
    border: 1px solid var(--color-gray-100);
    background-color: $background;
    border-radius: $border-radius;
    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    font-weight: 700;
    color: $color;
    padding: 0.5rem 1rem;
    text-align: $text-align;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="number"]{
        -moz-appearance: none;
    }
        


        @if $width == auto {
            display: inline-block;
            
        } @else {
            max-width: $width;
            width: 100%;
            
        }

      }