h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-white);
}

p, a, li {
    font-family: var(--font-sans);
    line-height: 1.5;
    color: var(--color-gray-400);
}

a {
    text-decoration: none;
    &:hover{
        transition: all .2s;
        color: var(--color-white);
        
    }
}

h1 {
    font-size: var(--font-size-6);
}

