body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, {
    font-family: var(--font-serif);
    color: var(--color-white);
    font-weight: 400;
}

p, a, li, {
    font-family: var(--font-sans);
    line-height: 1.5;
    color: var(--color-gray-400);
}

a {
    text-decoration: none;
    transition: all .2s;
    font-weight: 700;
    &:hover{
        
        color: var(--color-white);
        
    }
}

h1 {
    font-size: var(--font-size-6);
}

