@use '../components/buttons' as button;
@use '../tools/colors' as color;
@use '../components/form' as form;

.sidebar {
    display: grid;

       

    &__back {
        svg {
            transform: translate(-0.5rem, 2.0px);
        }
        font-size: var(--font-size-small);
    }

    

    &__inner {
        margin: 3rem 4rem 4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        @include button.standard;
    }

    

}


// Product
.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: var(--font-size-3);
    }

    &__price {
        font-size: var(--font-size-4);
        font-weight: 700;
        color: var(--color-white);
    }

    &__subtitle {
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: var(--color-gray-400);
        font-weight: 700;
    }

    // Quantity 
    &__quantity, &__swatch {
        margin-top: 5rem;
    }

    // Form

    &__form {
        display: flex;
        
    }

    &__less {
        @include form.input($color: var(--color-gray-400), $border-radius: 50px 0 0 50px)
    }

    &__more {
        @include form.input($color: var(--color-gray-400), $border-radius: 0 50px 50px 0)
    }

    &__count {
        @include form.input($width: 60px, $text-align: center);
    }


}

.colors {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    &__item {
        margin-right: 7px;
        &:last-of-type {
            margin-right: 0;
        }

        &--current {

            a {
                opacity: 1;
                &:before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 14px;
                    background-image: url(assets/icons/icon-checkmark.svg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    
                    
                }
            }

        }

        
    }

    &__link {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid white;
        opacity: 0.4;
        
        
    

    &--yellow {
        background-color: color.$yellow;
    }

    &--green {
        background-color: color.$green;
    }

    &--pink {
        background-color: color.$pink;
    }

    &--red{
        background-color: color.$red;
    }


    &:hover {
        filter: blur(0.70px);
        border: 2px solid var(--color-accent);
    }
     

    

}

    


}


