@use '../components/buttons' as button;

.sidebar {

    &__back {
        font-size: var(--font-size-small);
    }

    

    &__inner {
        margin: 3rem 4rem 4rem;
    }

    &__button {
        @include button.standard;
    }

    

}


// Product
.product {

    &__title {
        font-size: var(--font-size-3);
    }

    &__price {
        font-size: var(--font-size-4);
        font-weight: 700;
        color: var(--color-white);
    }

    €__subtitle {
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: var(--color-gray-400);
    }


}